<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chesney Julian Web Developer</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <script>document.documentElement.classList.add('js')</script>
</head>

<body class="min-h-screen min-w-full bg-blend-screen bg-gray-900 text-white leading-7 scroll-smooth overflow-x-hidden md:overflow-y-hidden sm:overflow-y-auto">
  {{{body}}}
 <script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
</body>

</html>