<div class="flex flex-col justify-start overflow-x-hidden m-8">
    <a class="mb-8 font-main-normal text-slate-300 hover:text-fuchsia-700" href="/">Home</a>
    <div class="mx-auto max-w-7xl flex flex-col items-center">
      <div class="max-w-2xl text-center">
        <h2 class="text-3xl font-main-bold sm:text-4xl">Let's Work Together</h2>
        <p class="mt-6 text-lg font-main-normal leading-8">Thanks for viewing my portfolio! Any feedback, tips, or messages would be greatly appreciated. If you would like to work together, please contact me via email, phone number, or LinkedIn. If you'd like to see more of my work, check out my GitHub profile.</p>
      </div>
      <ul role="list" class="flex flex-col text-center font-main-normal">
        <li class="mt-4">
          <div class="flex flex-row">
            <img class="h-12 w-12 mr-2 md:h-16 md:w-16 rounded-full" src="/images/linkedin.png" alt="">
            <div>
              <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700 text-slate-300" href="/https://www.linkedin.com/in/chesney-julian/">LinkedIn <span aria-hidden="true">&rarr;</span></a>
            </div>
          </div>
        </li>
        <li class="mt-4">
          <div class="flex flex-row">
            <img class="h-12 w-12 mr-2 md:h-16 md:w-16 rounded-full" src="/images/github.png" alt="">
            <div>
              <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700 text-slate-300" href="https://github.com/ChesneyJulian">GitHub <span aria-hidden="true">&rarr;</span></a>
            </div>
          </div>
        </li>
        <li class="mt-4">
          <div class="flex flex-row">
            <img class="h-12 w-12 mr-2 md:h-16 md:w-16 rounded-full" src="/images/phone.png" alt="">
            <div>
              <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700 text-slate-300" href="tel:865-850-5283">(865)850-5283 <span aria-hidden="true">&rarr;</span></a>
            </div>
          </div>
        </li>
        <li class="mt-4">
          <div class="flex flex-row">
            <img class="h-12 w-12 mr-2 md:h-16 md:w-16 rounded-full" src="/images/email.png" alt="">
            <div>
              <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700 text-slate-300" href="mailto: chesney.julian724@gmail.com">chesney.julian724@gmail.com <span aria-hidden="true">&rarr;</span></a>
            </div>
          </div>
        </li>
      </ul>
    </div>

</div>