<div class="container min-w-full p-12">
  <a href="/">Home <span aria-hidden="true">&rarr;</span></a>
  <div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl flex flex-col items-center px-6 lg:px-8 ">
      <div class="max-w-2xl text-center">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Let's Work Together</h2>
        <p class="mt-6 text-lg leading-8">Thanks for viewing my portfolio! Any feedback, tips, or messages would be greatly appreciated. If you would like to work together, please contact me via email, phone number, or LinkedIn. If you'd like to see more of my work, check out my GitHub profile.</p>
      </div>
      <ul role="list" class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-8">
        <li class="m-4">
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="/images/linkedin.png" alt="">
            <div>
              <a href="/https://www.linkedin.com/in/chesney-julian/">LinkedIn <span aria-hidden="true">&rarr;</span></a>
            </div>
          </div>
        </li>
        <li class="m-4">
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="/images/github.png" alt="">
            <div>
              <a href="https://github.com/ChesneyJulian">GitHub <span aria-hidden="true">&rarr;</span></a>
            </div>
          </div>
        </li>
        <li class="m-4">
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="/images/phone.png" alt="">
            <div>
              <a href="tel:865-850-5283">(865)850-5283 <span aria-hidden="true">&rarr;</span></a>
            </div>
          </div>
        </li>
        <li class="m-4">
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="/images/email.png" alt="">
            <div>
              <a href="mailto: chesney.julian724@gmail.com">chesney.julian724@gmail.com <span aria-hidden="true">&rarr;</span></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>










































