
  <main class="flex flex-col sm:flex-row justify-evenly self-center min-w-screen">
    <div id="header"
      class="min-w-full flex flex-col items-center bg-gradient-to-bl from-[gray-800] via-[gray-800] overflow-hidden py-16 sm:py-20 h-auto">
      <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
        aria-hidden="true">
        <div
          class="aspect-[1200/900] w-screen bg-gradient-to-tr from-[#175464] to-[#173C64] via-[#286588] opacity-40"
          style="clip-path: polygon(20.1% 68.1%, 100% 1.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 12%, 75.5% 42.5%, 40.2% 100.4%, 82.4% 8.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
      </div>
      <div
        class="absolute -top-52 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
        aria-hidden="true">
        <div class="aspect-[1200/900] w-screen bg-gradient-to-tr from-[#175464] to-[#173C64] opacity-40"
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 30.2% 82.4%, 32.4% 68.1%, 47.5% 38.3%, 85.2% 67.5%, 47.5% 76.7%, 10.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
      </div>
      <div class="mx-auto min-w-auto lg:min-w-[60%] px-8 py-4 lg:px-16 lg:py-8 bg-gray-950 rounded-lg">
        <div class="mx-auto max-w-auto lg:mx-0">
          <h2 class="my-6 text-4xl font-main-bold sm:text-6xl">Chesney Julian</h2>
          <h2 id="typewriter" class="my-6 text-2xl font-main-semi sm:text-4xl w-[80%]">Full Stack Web Developer</h2>
        </div>
        <div class="mx-auto mt-20 max-w-2xl lg:mx-0 lg:max-w-none">
          <div class="my-6 grid grid-cols-1 gap-x-8 gap-y-6 text-base text-slate-300 font-main-normal">
            <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="#about-me">About Me</a>
            <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="#skills">Skills</a>
            <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="#recent-projects">Recent Projects</a>
            <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="#contact">Contact Me</a>
            <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700" target="_blank" href="/assets/ChesneyJulianResume.pdf" download="ChesneyJulianResume.pdf">Resume</a>
          </div>
        </div>
      </div>
    </div>


    {{!-- <div
      class="z-20 min-h-screen flex flex-col mt-8 sm:mt-24 scroll-mt-16 sm:scroll-mt-24 justify-between h-screen scroll-smooth sm:overflow-y-auto no-scrollbar">
      <div id="about-me" class="flex flex-col container mb-32 mx-auto p-6 lg:p-8">
        <h3 class="font-main-semi text-2xl sm:text-5xl">About Me</h3>
        <p class="my-12 ml-8 sm:ml-16 font-main-normal text-xl sm:text-2xl max-w-2xl leading-10">I am a full stack web developer from Knoxville, TN. I am passionate about turning ideas into beautiful applications that not only look and feel great, but also offer advanced solutions to real world problems. I prioritize active learning and believe that web development offers endless opportunities for improvement. By practicing this mindset, I have been successfully crafting and maintaining my skills in responsive full stack web design. Lately, I have been gaining experience and knowledge while earning a Certificate in Full Stack Web Development through Vanderbilt University's Web Development Bootcamp.</p>
      </div>
      <div id="skills" class="flex flex-col container mb-32 mx-auto p-6 lg:p-8">
        <h3 class="font-main-semi text-2xl sm:text-5xl pb-12">Skills</h3>
        <div class="font-main-normal grid row-auto grid-cols-2 lg:grid-cols-4 gap-4 md:ml-16 ml-4">
          <div class="rounded-full py-2 px-4 bg-fuchsia-700 w-32 text-center">JavaScript</div>
          <div class="rounded-full py-2 px-4 bg-fuchsia-700 w-32 text-center">HTML</div>
          <div class="rounded-full py-2 px-4 bg-fuchsia-700 w-32 text-center">CSS</div>
          <div class="rounded-full py-2 px-4 bg-fuchsia-700 w-32 text-center">Node.js</div>
          <div class="rounded-full py-2 px-4 bg-fuchsia-700 w-32 text-center">Express.js</div>
          <div class="rounded-full py-2 px-4 bg-fuchsia-700 w-32 text-center">MySQL</div>
          <div class="rounded-full py-2 px-4 bg-fuchsia-700 w-32 text-center">REST APIs</div>
          <div class="rounded-full py-2 px-4 bg-fuchsia-700 w-32 text-center">Bootstrap</div>
          <div class="rounded-full py-2 px-4 bg-fuchsia-700 w-32 text-center">GitHub</div>
          <div class="rounded-full py-2 px-4 bg-fuchsia-700 w-32 text-center">VS Code</div>
          <div class="rounded-full py-2 px-4 bg-fuchsia-700 w-32 text-center">NoSQL</div>
          <div class="rounded-full py-2 px-4 bg-fuchsia-700 w-32 text-center">MongoDB</div>
        </div>
      </div>

      <div id="recent-projects" class="font-main-normal container mx-auto p-6 lg:p-8">
        <h3 class="font-main-semi text-2xl sm:text-5xl mb-8">Recent Projects</h3>
        <div class="flex flex-col lg:flex-row items-start mx-4 tablet:items-center lg:mx-0 mb-36">
          <div class="m-4 h-80">
            <div class="relative z-10 "><a target="_blank" href="https://maintenance-manatee-20230807-e071f072b462.herokuapp.com/"><img src="/images/maintenance-manatee.png"
                class="transform duration-300 hover:scale-110 h-64 w-52 rounded aspect-square object-cover object-top z-20"></a></div>
            <div class="bg-indigo-700 h-52 w-52 rounded-full relative -top-36 left-20"></div>
          </div>
          <div class="flex flex-col min-w-full lg:m-12">
            <h5 class="self-center text-center lg:self-start text-2xl sm:text-3xl transform duration-300 hover:scale-110">Maintenance Manatee</h5>
            <a class="text-slate-300 self-center lg:self-start lg:ml-16 lg:mt-8 transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="/projects/0">Case
              Study <span aria-hidden="true">&rarr;</span></a>
            <a class="text-slate-300 self-center lg:self-start lg:ml-16 transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="https://github.com/cdgonzo23/maintenance-manatee">GitHub Repository<span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>

        <div class="flex flex-col lg:flex-row items-start mx-4 tablet:items-center lg:mx-0 mb-36">
          <div class="m-4 h-80">
            <div class="relative z-10"><a target="_blank" href="https://cdgonzo23.github.io/night-in-generator/"><img src="/images/night-in-generator.png"
                class="transform duration-300 hover:scale-110 h-64 w-52 rounded aspect-square object-cover object-top z-20"></a></div>
            <div class="bg-rose-700 h-52 w-52 rounded-full relative -top-36 left-20"></div>
          </div>
          <div class="flex flex-col min-w-full lg:m-12">
            <h5 class="self-center lg:self-start text-2xl sm:text-3xl transform duration-300 hover:scale-110">Night-In Generator</h5>
            <a class="text-slate-300 self-center lg:self-start lg:ml-16 lg:mt-8 transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="projects/1">Case
              Study <span aria-hidden="true">&rarr;</span></a>
             <a class="text-slate-300 self-center lg:self-start lg:ml-16 transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="https://github.com/cdgonzo23/night-in-generator">GitHub Repository<span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>

        <div class="flex flex-col lg:flex-row items-start mx-4 tablet:items-center lg:mx-0 mb-36">
          <div class="m-4 h-80">
            <div class="relative z-10"><a target="_blank" href="https://mvc-tech-blog-2023-86b27f515ccd.herokuapp.com/"><img src="/images/tech-blog-screenshot.png" class="transform duration-300 hover:scale-110 h-64 w-52 rounded aspect-square object-cover object-top z-20"></a></div>
            <div class="bg-blue-500 h-52 w-52 rounded-full relative -top-36 left-20"></div>
          </div>
          <div class="flex flex-col min-w-full lg:m-12">
            <h5 class="self-center lg:self-start text-2xl sm:text-3xl transform duration-300 hover:scale-110">Tech Blog</h5>
            <a class="text-slate-300 self-center lg:self-start lg:ml-16 lg:mt-8 transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="projects/2">Case
              Study <span aria-hidden="true">&rarr;</span></a>
              <a class="text-slate-300 self-center lg:self-start lg:ml-16 transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="https://github.com/ChesneyJulian/tech-blog">GitHub Repository<span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>

        <div class="flex flex-col lg:flex-row items-start mx-4 tablet:items-center lg:mx-0 mb-36">
          <div class="m-4 h-80">
            <div class="relative z-10"><a target="_blank" href="https://github.com/ChesneyJulian/e-commerce-back-end"><img src="/images/e-commerce-backend.png"
                class="transform duration-300 hover:scale-110 h-64 w-52 rounded aspect-square object-cover object-left z-20"></a></div>
            <div class="bg-fuchsia-800 h-52 w-52 rounded-full relative -top-36 left-20"></div>
          </div>
          <div class="flex flex-col min-w-full lg:m-12">
            <h5 class="self-center lg:self-start text-2xl sm:text-3xl transform duration-300 hover:scale-110">E-commerce Backend</h5>
            <a class="text-slate-300 self-center lg:self-start lg:ml-16 lg:mt-8 transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="projects/3">Case
              Study <span aria-hidden="true">&rarr;</span></a>
            <a class="text-slate-300 self-center lg:self-start lg:ml-16 transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="https://github.com/ChesneyJulian/e-commerce-back-end">GitHub Repository<span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>

        <div class="flex flex-col lg:flex-row items-start mx-4 tablet:items-center lg:mx-0 mb-36">
          <div class="m-4 h-80">
            <div class="relative z-10"><a target="_blank" href="https://github.com/ChesneyJulian/professional-readme-generator/"><img src="/images/README-generator.png"
                class="transform duration-300 hover:scale-110 h-64 w-52 rounded aspect-square object-cover object-left z-20"></a></div>
            <div class="bg-teal-500 h-52 w-52 rounded-full relative -top-36 left-20"></div>
          </div>
          <div class="flex flex-col min-w-full lg:m-12">
            <h5 class="self-center lg:self-start text-center lg:text-left text-2xl sm:text-3xl transform duration-300 hover:scale-110">Professional README.md Generator</h5>
            <a class="text-slate-300 self-center lg:self-start lg:ml-16 lg:mt-8 transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="/projects/4">Case
              Study <span aria-hidden="true">&rarr;</span></a>
            <a class="text-slate-300 self-center lg:self-start lg:ml-16 transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="https://github.com/ChesneyJulian/professional-readme-generator">GitHub Repository<span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>

        <div class="flex flex-col lg:flex-row items-start mx-4 tablet:items-center lg:mx-0 mb-36">
          <div class="m-4 h-80">
            <div class="relative z-10"><a target="_blank" href="https://github.com/ChesneyJulian/weather-dashboard/"><img src="/images/weather-dashboard.png"
                class="transform duration-300 hover:scale-110 h-64 w-52 rounded aspect-square object-cover object-left z-20"></a></div>
            <div class="bg-cyan-500 h-52 w-52 rounded-full relative -top-36 left-20"></div>
          </div>
          <div class="flex flex-col min-w-full lg:m-12">
            <h5 class="self-center lg:self-start text-2xl sm:text-3xl transform duration-300 hover:scale-110">Weather Dashboard</h5>
            <a class="text-slate-300 self-center lg:self-start lg:ml-16 lg:mt-8 transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="projects/5">Case
              Study <span aria-hidden="true">&rarr;</span></a>
            <a class="text-slate-300 self-center lg:self-start lg:ml-16 transform duration-300 hover:scale-110 hover:text-fuchsia-700" href="https://github.com/ChesneyJulian/weather-dashboard">GitHub Repository<span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
        <div id="contact" class="flex flex-col lg:flex-row items-start tablet:items-center mb-36">
          <div class="flex flex-col container mb-32 mx-auto p-6 lg:p-8">
            <h3 class="font-main-semi text-2xl sm:text-5xl mb-8">Let's Work Together</h3>
            <p class="mt-12 ml-8 sm:ml-16 font-main-normal text-xl sm:text-2xl max-w-2xl leading-10">Thanks for viewing my portfolio! Any messages would be greatly appreciated. If you would like to work together, please contact me via email, phone number, or LinkedIn. If you'd like to see more of my work, check out my GitHub profile.</p>
            <ul role="list" class="my-8 ml-8 sm:ml-16 font-main-normal text-l sm:text-xl max-w-2xl leading-10 flex flex-col items-start">
              <li class="mt-4">
                <div class="flex flex-row items-center">
                  <img class="h-12 w-12 mr-2 md:h-16 md:w-16 rounded-full" src="/images/phone.png" alt="">
                  <div>
                    <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700 text-slate-300" href="tel:865-850-5283">(865)850-5283</a>
                  </div>
                </div>
              </li>
              <li class="mt-4">
                <div class="flex flex-row items-center">
                  <img class="h-12 w-12 mr-2 md:h-16 md:w-16 rounded-full" src="/images/email.png" alt="">
                  <div>
                    <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700 text-slate-300" href="mailto: chesney.julian724@gmail.com">chesney.julian724@gmail.com</a>
                  </div>
                </div>
              </li>
              <li class="mt-4">
                <div class="flex flex-row items-center">
                  <img class="h-12 w-12 mr-2 md:h-16 md:w-16 rounded-full" src="/images/linkedin.png" alt="">
                  <div>
                    <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700 text-slate-300" target="_blank" href="https://www.linkedin.com/in/chesney-julian/">LinkedIn</a>
                  </div>
                </div>
              </li>
              <li class="mt-4">
                <div class="flex flex-row items-center">
                  <img class="h-12 w-12 mr-2 md:h-16 md:w-16 rounded-full" src="/images/github.png" alt="">
                  <div>
                    <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700 text-slate-300" target="_blank" href="https://github.com/ChesneyJulian">GitHub</a>
                  </div>
                </div>
              </li>
              <li class="mt-4">
                <div class="flex flex-row items-center">
                  <img class="h-12 w-12 mr-2 md:h-16 md:w-16 rounded-full" src="/images/resume.png" alt="">
                  <div>
                    <a class="transform duration-300 hover:scale-110 hover:text-fuchsia-700 text-slate-300" target="_blank" href="/assets/ChesneyJulianResume.pdf" download="ChesneyJulianResume.pdf">Resume</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div> --}}
    </div>

  </main>
